
@{
    ViewBag.Title = "Bóng rổ";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
    ViewBag.active = 4;
}


<!-- Property List Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">Sân bóng rổ</h1>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="~/DatSan"><img class="img-fluid" src="~/Content/img/sBongRo_NguyenDu.jpg" alt=""></a>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">250.000đ - 400.000đ</h5>
                                <a class="d-block h5 mb-2" href="https://maps.app.goo.gl/XpH43vpBMP9Pxy358" target="_blank">Sân bóng rổ Nhà Thi Đấu Nguyễn Du</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>Số 116 Nguyễn Du, phường Bến Thành, Quận 1, Hồ Chí Minh.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="property-item rounded overflow-hidden">
                                <div class="position-relative overflow-hidden">
                                    <a href="~/DatSan"><img class="img-fluid" src="~/Content/img/san-bong-ro-puzzle.jpg" alt=""></a>
                                    <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">Bóng rổ</div>
                                </div>
                                <div class="p-4 pb-0">
                                    <h5 class="text-primary mb-3">200.000đ - 600.000đ</h5>
                                    <a class="d-block h5 mb-2" href="https://maps.app.goo.gl/zh8wVMa6No8JbNrC9" target="_blank">Sân vận động Hoa Lư </a>
                                    <p><i class="fa fa-map-marker-alt text-primary me-2"></i>Số 2 Đinh Tiên Hoàng, Đa Kao, Quận 1, Hồ Chí Minh</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="~/DatSan"><img class="img-fluid" src="~/Content/img/sBongRo_TDTT.jpg" alt=""></a>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">200.000đ - 400.000đ</h5>
                                <a class="d-block h5 mb-2" href="https://maps.app.goo.gl/dLERyfpapshBvBUf8" target="_blank">Sân tại Trung Tâm TDTT Quận 9</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>Số 402A Lê Văn Việt, phường Tăng Nhơn Phú A, Quận 9, Hồ Chí Minh</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="~/DatSan"><img class="img-fluid" src="~/Content/img/sBongRo_Manhattan.jpg" alt=""></a>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">200.000đ - 350.000đ</h5>
                                <a class="d-block h5 mb-2" href="https://maps.app.goo.gl/D5bvhzkoTFGU2C569" target="_blank">Sân bóng rổ khu Manhattan</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>Nguyễn Xiển, Long Thạnh Mỹ, Quận 9</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="~/DatSan"><img class="img-fluid" src="~/Content/img/sBongRo_RMIT.jpg" alt=""></a>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">300.000đ - 500.000đ</h5>
                                <a class="d-block h5 mb-2" href="https://maps.app.goo.gl/yQ1uhPfiUE1sH43b9" target="_blank">Sân bóng rổ trong Trường Đại học RMIT</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>Số 702 Nguyễn Văn Linh, Tân Hưng, Quận 7</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href=""><img class="img-fluid" src="~/Content/img/sBongRo_CVQ9.jpg" alt=""></a>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">150.000đ - 300.000đ</h5>
                                <a class="d-block h5 mb-2" href="https://maps.app.goo.gl/rwKBPgc5TU4viYU47" target="_blank"> Công viên Quận 9</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>Hồ Thị Tư, Hiệp Phú, Quận 9, Thành phố Hồ Chí Minh, Việt Nam</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Property List End -->
