
@{
    ViewBag.Title = "Cầu lông";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
    ViewBag.active = 5;
}

<!-- Property List Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
                    <h1 class="mb-3">Sân cầu lông</h1>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="~/DatSan"><img class="img-fluid" src="~/Content/img/san-cau-long.jpg" alt=""></a>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">50.000đ - 100.000đ</h5>
                                <a class="d-block h5 mb-2" href="https://www.google.com/maps/dir/10.8442943,106.6880844/s%C3%A2n+c%E1%BA%A7u+l%C3%B4ng+h%E1%BB%8Dc+vi%E1%BB%87n+ch%C3%ADnh+tr%E1%BB%8B+qu%E1%BA%ADn+9/10.8482035,106.6624092,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x3175276c8f0f4267:0xcdd32e5c20232ba!2m2!1d106.7874697!2d10.8519055" target="_blank">Sân cầu lông Học viện Chính trị</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>Số 99 Man Thiện, Phường Hiệp Phú, Quận 9</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="~/DatSan"><img class="img-fluid" src="~/Content/img/sCauLong_2.jpg" alt=""></a>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">60.000đ - 80.000đ</h5>
                                <a class="d-block h5 mb-2" href="https://maps.app.goo.gl/mBHNf3ECgknduELY6" target="_blank">Sân cầu lông Rebell</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>Đường Đỗ Xuân Hợp, quận 9 (Gần ngã ba đường Dương Đình Hội – Đỗ Xuân Hợp)</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="property-item rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <a href="~/DatSan"><img class="img-fluid" src="~/Content/img/sCauLong_3.jpg" alt=""></a>
                            </div>
                            <div class="p-4 pb-0">
                                <h5 class="text-primary mb-3">50.000đ - 80.000đ</h5>
                                <a class="d-block h5 mb-2" href="https://www.google.com/maps/dir/10.8435467,106.6819255/s%C3%A2n+c%E1%BA%A7u+l%C3%B4ng+b%C3%ACnh+th%C3%A1i/10.8332201,106.6528746,12z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x317527a85c23af97:0x3c1a39c56c435137!2m2!1d106.7680342!2d10.8380133" target="_blank">Sân cầu lông Bình Thái</a>
                                <p><i class="fa fa-map-marker-alt text-primary me-2"></i>18 Xa lộ Hà Nội, Phước Long B, Quận 9, Hồ Chí Minh</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Property List End -->
